.blog-background {
    background-color: #f1f1f1;
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
.blog-container {
    // padding-top: 20px;
    .box-blog {
        padding-top: 10px;
        border-radius: 4px !important;
        .card {
            border: none;

            border-radius: none;


            .blog-item {
                // height: 13rem;


                .blog-img {
                    img{
                        border-radius: 4px !important;
                    }
                    object-fit: cover;
                    opacity: 1;
                    -webkit-transition: .3s ease-in-out;
                    transition: .3s ease-in-out;
                    &:hover {
                        opacity: .6;
                        cursor: pointer;
                    }
                }

                .blog-title {
                    &:hover {
                        color: #337ab7;
                        cursor: pointer;
                    }
                }
            }
        }
    }
    .recent-blog{
        border-radius: 4px !important;
        .blog-img {
            border-radius: 4px !important;
            object-fit: cover;
            opacity: 1;
            -webkit-transition: .3s ease-in-out;
            transition: .3s ease-in-out;
            &:hover {
                opacity: .6;
                cursor: pointer;
            }
        }
        .ant-tree{
            .ant-tree-treenode {               
                padding: 5px 0 5px 0;
                border-bottom: 1px solid rgba(178, 178, 178, 0.574);
            }
            .ant-tree-list-holder-inner {
                align-items: none !important;
                flex-direction: none !important;
                display:  block !important;
            }
            
                .ant-tree-treenode-switcher-open{
                    background-color: #ff4d00;
                    padding: 10px;
                    color: #fff;
                    text-transform: uppercase;

                }
                .ant-tree-treenode-switcher-close {
                    background-color: #ff4d00;
                    padding: 10px;
                    color: #fff;
                    text-transform: uppercase;
                }
                .ant-tree-title{
                }
          
        }
    }
}
}