.navbar {
    margin: 0;
    // box-shadow: none    
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);

    .nav-link {
        color: #6bad0d !important;
        font-family: "Nunito", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        &:hover {
            color: #589108 !important;
            cursor: pointer;
        }
       
    }

    .btn-search {
        outline: 2px solid #589108;
        color: #589108;

        &:hover {
            background-color: #589108;
            color: aliceblue;
        }
    }

    .form-search {
        position: relative;
        display: flex;
        align-items: center;
        svg {
            position: absolute;
            right: 20px;
            z-index: 10;
        }

        input {
            border-radius: 5px;
            background-color: rgba(255, 255, 255, 0.196); /* Màu trắng với độ trong suốt là 0.5 */
            border-right: none; /* Xóa viền bên phải */
            border-top: none; /* Xóa viền phía trên */
            // border-left: none; /* Xóa viền phía trên */
        }
        
        
        .display-product-search{
            &:hover{
                background-color: #c4c4c442;
            }
        }
    }

    .btn-login {
        // border: 1px solid #589108;

        &:hover {
            cursor: pointer;
            color: #589108 !important;

        }
    }
    
    .nav-item-cart {
        position: relative;

        span {
            position: absolute;
            top: -8px;
            right: -10px;
            padding: 5px;
            background-color: rgb(205, 12, 12);
            width: 24px;
            height: 24px;
            line-height: 25px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            color: white;
            font-size: 12px;
        }
    }
}

.navbarNonTop {
    background-color: #ffffff !important;
    // box-shadow:none;
    .nav-link {
        color: #6bad0d !important;
    }
    .form-search {
        input {
            border-radius: 5px;
            background-color: rgba(255, 255, 255, 0.037); /* Màu trắng với độ trong suốt là 0.5 */
            border: 1px solid #589108;
        }
    }
}
.navbarTop{
    background-color: opacity !important;
    box-shadow:none;
// background-color: red;
}